/* TODO: 
    -Potentially add clouds as backgrounds for text/table etc.
    -Get background to sit well in the center and such
*/


body {
    font-family: 'Michroma';
    background-position: center;
    background-image: url("/resources/menu-background-clear.png");


    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.top-divider {
    margin: 0%;
    height: 3px;
    color: black;
    background-color: black;
}

header {
    background-color: rgb(77, 150, 182, 0.6);
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 8%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.category {

    /* keeping this, might add later */
    outline-style: none;
    outline-color: black;
    outline-width: 3px;

    text-align: middle;
    padding: 0.1%;
    margin-right: 2%;
    display: flex;
    margin-left: 0.5%

}

.category-wrapper {
     outline-style: none;
    outline-color: black;
    outline-width: 3px;
    
    background-color: rgb(128, 128, 128, 0.6);
    text-align: middle;
    padding: 0.1%;
    margin-right: 2%;
    display: flex;
    margin: 0 auto;
}
.content {
    font-family: 'Roboto';
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.a-visiting {
    color: black;
    font-size: 20px;
    text-decoration: underline;
}

a:hover {
    color: darkslategrey;
    font-style: italic;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.media-subtitle {
    margin-top: -50px;
    text-align: center;

}

.text-wrapping {
    font-family: 'Roboto';
    margin: 0 auto;
    outline-style: solid;
    outline-color: lightgray;
    background-color: rgb(197, 196, 196, 0.8);
    max-width: 550px;
    text-align: left;
}

table th, td {
    margin: 0 auto;
    border: 5px solid rgba(42, 139, 181, 0.6);
    border-color: rgba(42,139,181,0.6);
    background-color: rgba(42, 139, 181, 0.6);
    font-size: 20px;
    padding: 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

/* if grade is higher than 7.5 */ 
.good-grade {
    background-color: rgb(8, 188, 8, 0.6)
}

/* if grade is higher than 5.5 and lower than 7.5 */
.medium-grade {
    background-color: rgb(255, 165, 0, 0.6)
}

/* if grade is lower than 5.5 */
.bad-grade {
    background-color: rgb(255, 0, 0, 0.6)
}

.unknown-grade {
    background-color: rgb(128, 128, 128, 0.6)
}

.blog-row {
    margin-left: 2%;
    font-family: Calibri, Arial;
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
}

.blog-row a {
    margin-right: 5%;
    max-width: 20%;
    min-width: 20%;
    min-height: 10%;
    background-color: lightblue;
    padding: 3%;
}

.blog-row a p {
    min-height: 40%;
    max-height: 40%;
}
